# buildディレクトリ配下のjsタイプファイルの構文チェックを無視
build/*.js
# src/assetsディレクトリ配下のファイルの構文チェックを無視
src/assets
# publicディレクトリ配下のファイルの構文チェックを無視
public
# 現在のディレクトリ配下のjsファイルの構文チェックを無視
*.js
# 現在のディレクトリ配下のvueファイルの構文チェックを無視
*.vue